<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativepedometerdetails">

        <uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED" />

        <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name = "android.permission.ACCESS_MEDIA_LOCATION" />

        <uses-permission android:name = "android.permission.FOREGROUND_SERVICE"/>

        <uses-permission android:name = "android.permission.ACTIVITY_RECOGNITION"/>

        <uses-feature android:name = "android.hardware.sensor.stepcounter" android:required = "true"/>
        <uses-feature android:name = "android.hardware.sensor.stepdetector" android:required = "true"/>


        <application
            android:allowBackup = "false"
            android:supportsRtl = "true"
            android:requestLegacyExternalStorage = "true">


                <receiver android:name = ".step.background.RebootActionReceiver"
                    android:exported = "false">
                        <intent-filter >
                                <action android:name = "android.intent.action.BOOT_COMPLETED"/>
                        </intent-filter>
                </receiver>
                <receiver android:name = ".step.background.UpdateReceiver"
                    android:exported = "false">
                        <intent-filter>
                                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                        </intent-filter>
                </receiver>

                <receiver
                    android:name = ".step.background.Restarter"
                    android:enabled = "true"
                    android:exported = "true"
                    android:permission = "false">
                        <intent-filter>
                                <action android:name = "restartservice" />
                        </intent-filter>
                </receiver>

                <service
                    android:name = ".step.background.StepCounterService"
                    android:enabled = "true"
                    android:exported = "false" />

        </application>

        <queries>
                <intent>
                        <action
                            android:name = "android.intent.action.TTS_SERVICE" />
                </intent>
        </queries>
</manifest>
